*.log
*.json
*.npy
*.pt
*.pth
*.pkl
*.ptl
*.ptz
*.ptz.tar
*.ptz.tar.gz
*.ptz.tar.bz2
*.ptz.tar.xz
*.zip
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
10.12751_g-node.270z59
*.npy
*.npz
*.pkl
*.pth
*.pt
*.ptl
*.ptz
*.ptz.tar
*.ptz.tar.gz
*.ptz.tar.bz2
*.ptz.tar.xz
jenny_tts/
datasets/
checkpoints/
logs/
models/
results/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
rare_manuscripts/
object_detection/
._*
*.arrow
*.md